<app-navbar (emittQuery)="searchMinion($event)"></app-navbar>
<!-- <app-minions [minions]="filtrados"></app-minions> -->
<!-- <app-minions [searchTerm]="searchTerm"></app-minions> -->
<router-outlet></router-outlet>

<!-- <h1>Retos Pokemones</h1>
<small>Me ha tocao un Numel soy un desgraciao</small>
<hr>
<hr>

<app-button-images></app-button-images>

<hr>

<app-productos [productData]="{
    image: 'https://i.pinimg.com/originals/f2/ce/c9/f2cec98f06e8f66ff0bcfb2ffdb413eb.jpg',
    name: 'GatiContento',
    price: 66.6,
    description: 'Un gato y esta contento',
    quality: 3.5,
    quality_price_ratio: 3.75,
    durability: 4
  }">
  </app-productos> -->
